@page "/jsonview"

@using FhirBlaze.Models
@using Hl7.Fhir.Serialization

@inject AppState AppState
@inject IJSRuntime JSRuntime

<p>
    <button class="btn btn-primary" @onclick="GoBack">Back</button>
</p>

<p>
    <div class="card mb-6">
        <div class="card-header">
            <h3 class=".card-title">
                JSON Viewer
            </h3>
        </div>
        <div class="card-body">
            <pre>
            @ResourceJson
        </pre>
        </div>
    </div>
</p>

<p>
    <button class="btn btn-primary" @onclick="GoBack">Back</button>
</p>


@code {
    private FhirJsonSerializer serializer = new FhirJsonSerializer(new SerializerSettings { Pretty = true });
    private string ResourceJson { get; set; }

    protected override Task OnInitializedAsync()
    {
        ResourceJson = serializer.SerializeToString(AppState.CurrentResource);

        return base.OnInitializedAsync();
    }

    // Go back in browser using Javascript on a Razor Page
    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}
