@page "/settings"

<h1>Settings</h1>

<div>
    <div class="card-body">
        <p class="card-text">
            <dl class="row">
                <dt class="col-sm-3">fhirUser:</dt>
                <dd class="col-sm-9"></dd>
            </dl>
        </p>

    </div>
</div>

@code {

}

